body{
  background-color: #000;
  margin:0px;
}
ul{
  margin:0px;
  background-color:#067081;
}

li{
  display: inline-block;
  padding:20px;
  list-style: none;
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
  color: white;
}
a{
  color:white;
  text-decoration:none;
  padding: 10px;
}
a:hover{
  color:#04B4AE;
}
.botonesContenedor{
  width: 80%;
  margin: 0px auto;
}
.texto{
  font-family: 'Philosopher', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #067081;
  display: inline-block;
  width:23%;
  margin-left: 10px;
  padding: 10px;
  align-items: center;

}
.imgContenedor{
  width: 80%;
  height: auto;
  margin: 0 auto;
}
#pandaUno{
  width:200px;
  height: 200px;
  border-color: #5978f2;
  border: solid 3px;
  background-image: url("../img/panda.jpg");
  display:inline-block;
  border-radius: 100px;
}
#pandaDos{
  width:200px;
  height: 200px;
  border-color: #5978f2;
  border: solid 3px;
  background-image: url("../img/panda2.jpg");
  display:inline-block;
  border-radius: 100px;
}
#pandaTres{
  width:200px;
  height: 200px;
  border-color: #5978f2;
  border: solid 3px;
  background-image: url("../img/panda3.jpg");
  display:inline-block;
  border-radius: 100px;
}
#pandaCuatro{
  width:200px;
  height: 200px;
  border-color: #5978f2;
  border: solid 3px;
  background-image: url("../img/panda4.jpg");
  display:inline-block;
  border-radius: 100px;
}
.cerrar{
  font-size: 30px;
  color:white;
  font-weight: bold;
  padding: 0px;
  margin: 5px;
}

.cerrar:hover{
  color:red;

}



.textoContenedor{
  width:80%;
  color:white;
  margin:0 auto;
}
.textoContenedor p{
  width:48%;
  display: inline-block;
  float: left;
  margin:0 auto;
  padding: 10px 20px 0px 0px;
  text-align: justify;
}
